apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: webadmin-assets-pvc
  namespace: webadmin
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: do-block-storage

